<style>
.divHelp{
  margin-left: 15%;
  float: left;
}
p, h3{
  float: left;
}
h3{
  margin-left: 15%;
}
</style>
<h3>Salas</h3><br>
<div class="divHelp">
<p><strong>Número de Jogadores:</strong> Define o número de cartas jogadas que o sistema poderá apresentar os resultados.</p>
<p><strong>Refresh Automático:</strong> Serão apresentado os resultados automaticamente, sem a necessidade de atualizar a tela, respeitando o <strong>'Número de Jogadores'</strong></p>
<p><strong>Bloqueia Atualização de Carta:</strong> Não permite atualização quando o número de cartas cadastradas atingem o valor em <strong>'Número de Jogadores'</strong></p>
<p><strong>Jogadores:</strong> Selecione o Jogador e o adicione na sala. Desta forma sua sala passa a ter controle de quem pode acessá-la.</p>
<p><strong>Usuário Criador:</strong> Caso a sala seja criada sem efetuar o Login, não haverá segurança para a sala, qualquer usuário poderá entrar e jogar, a sala será pública.</p>
</div>





