<%= stylesheet_link_tag    'help', media: "all", "data-turbolinks-track" => false %>
<h3>Salas</h3><br>
<div class="divHelp">
<p><strong>Número de Jogadores:</strong> Define o número de cartas jogadas que o sistema poderá apresentar os resultados.</p>
<p><strong>Refresh Automático:</strong> Serão apresentado os resultados automaticamente, sem a necessidade de atualizar a tela, respeitando o <strong>'Número de Jogadores'</strong></p>
<p><strong>Bloqueia Atualização de Carta:</strong> Não permite atualização quando o número de cartas cadastradas atingem o valor em <strong>'Número de Jogadores'</strong></p>
<p><strong>Jogadores:</strong> Selecione o Jogador e o adicione na sala. Desta forma sua sala passa a ter controle de quem pode acessá-la.</p>
<p><strong>Usuário Responsável:</strong> Defina quem será responsável por administrar a sala. Sem usuário fará a sala ser pública.</p>
</div>