/* line 4, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/help.scss */
.divHelp {
  margin-left: 19%;
  float: left;
}

/* line 8, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/help.scss */
p, h3 {
  float: left;
}

/* line 11, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/help.scss */
h3 {
  margin-left: 19%;
}
