/* line 1, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2196F3;
}

/* line 10, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
li {
  float: left;
}

/* line 14, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 22, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
li a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}

/* line 26, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
li.dropdown {
  display: inline-block;
}

/* line 31, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
}

/* line 39, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
.dropdown-content a:hover {
  /*background-color: #f1f1f1*/
}

/* line 44, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 48, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/menu.scss */
#user-widget a {
  background-color: gray;
  color: black;
  font-size: 30px;
}
