/* line 5, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/show.scss */
h1, p, notice {
  color: white;
  position: relative;
  background-image: url("tecido-verde.jpg");
}

/* line 12, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/show.scss */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20;
  position: relative;
}

/* line 19, /Users/guilhermebarbosa/Documents/planningpoker/app/assets/stylesheets/show.scss */
td, th {
  color: black;
}
