<h1>Lista de Usuários</h1>

<%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>


<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.provider %></td><br>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Voltar', home_path%>