<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1>Lista de Usuários</h1>
    
    <center>
      <table>
        <tr>
          <th>User</th>
          <th>Provider</th>
        </tr>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name.to_s.force_encoding("UTF-8") %></td>
            <td><%= user.provider.to_s.force_encoding("UTF-8") %></td>
          </tr>
        <% end %>
      </table>
    </center>
    <br/>
    <%= link_to 'Voltar', home_path%>
  </body>
</html>