<html>
  <head>
    <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <h1>Lista de Usuários</h1>
    
    <table>
      <tr>
        <th>User</th>
        <th>Provider</th>
      </tr>
      <tr>
        <% @users.each do |user| %>
          <td><%= user.name.to_s.force_encoding("UTF-8") %></td>
          <td><%= user.provider.to_s.force_encoding("UTF-8") %></td><br>
        <% end %>
      </tr>
    </table>
    <%= link_to 'Voltar', home_path%>
  </body>
</html>