<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <h1>Hello World!</h1>
    
    <p> Olá, já jogamos <%= Poker.maximum(:id).next %> cartas</p>

  </body>
</html>