<%= stylesheet_link_tag    "home", media: "all", "data-turbolinks-track" => false %>
<%= csrf_meta_tags %>
<div style=" margin-left:20%; width: 60%; height:170px; position: relative;">
  <p>O 'Planning Poker', também chamado de Poker do Planejamento, é uma técnica baseada em consenso e "gameficada" para estimar, 
  usada principalmente para estimar o esforço ou o tamanho relativo dos objetivos de desenvolvimento no desenvolvimento de software. 
  No 'Planning Poker', os membros do grupo fazem estimativas jogando cartas numeradas secretamente, em vez de falar em voz alta.
  Os cartões são revelados, e as estimativas são discutidas. Ao esconder as cartas dessa maneira, o grupo pode evitar o viés cognitivo da ancoragem,
  onde o primeiro número falado em voz alta estabelece um precedente para as estimativas subsequentes.</p>
  <br>
  <h4> Já jogamos <%= Poker.maximum(:id) %> cartas!</h4>
  <br>
  <center>
    <img src="assets/plpoker2.jpg" style="float: right; width:400px; height: 330px;"></img>
    <img src="assets/plpoker1.jpg" style="float: left; width:400px; height: 330px;"></img>
  </center>
</div>