h1, p, notice{
    color:white;
    position: relative;
    /*background-image: url("https://images.images4us.com/888poker/br/TS-19585-SEO-PokerStrategy_600x338-NewTeaserImage_1448283814836_tcm1530-264504.jpg");*/
}

h2{
    color:white;
}
h4{
  color:white;
  position:center;
  
}


head{
}

body { 
    background: url("tecido-verde.jpg"); 
    background: url("https://http2.mlstatic.com/tecido-verde-mesa-de-sinuca-bilhar-snooker-pano-o-metro-D_NQ_NP_723721-MLB20835125211_072016-O.jpg");
    position: relative;
    padding-left: 29%;
}


td, th {
    color:black;
    position:relative;
}

tr:nth-child(even) {
    /*background-color: #ffffff;*/
}


a:link {
    background-color: #003300;
    color: #003300;
    padding: 7px 7px;
    display: inline-block;
}

a:hover, a:active {
    background-color: #001a00;
}

img{
width: 110px; /*Largura*/
height: 160px; /*Altura*/
}

a:link, a:visited {
  padding: 12px 15px;
  font-size: 24px;
  color: White;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 3px #888;
}

a:hover, a:active {
    background-color: #2d2e30;
}

a:link:active {
  background-color: #4d0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}