h1, p, notice{
    color: black;
    position: center;
    /*background-image: url("https://images.images4us.com/888poker/br/TS-19585-SEO-PokerStrategy_600x338-NewTeaserImage_1448283814836_tcm1530-264504.jpg");*/
}

h2{
    color: black;
}
h4{
  color: black;
  position: center;
}

h3{
  color: black;
}


td, th {
    position: relative;
}

a:link {
    color: black;
    display: inline-block;
    
    background-color: #2196F3;
    /*
    background-color: black;
    background-color: #0C9ABE;
    background-color: #2A3F54;
    */
    border-radius: 5px;
}

div a:link{
}


img{
    width: 50px; /*Largura*/
    height: 80px; /*Altura*/
}

a:link, a:visited {
  color: White;
  border-radius: 5px;
}

a:hover, a:active {
    background-color: gray;
}

a:link:active {
  background-color: gray;
  transform: translateY(4px);
}


input[type=text], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


/*
*
* CSS BOOTSTRAP COPIADO DE :
* https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css
*
*/


.btn {
    font-size: 24px;
    color: White;
    background-color: #2196F3;
    /*
    background-color: black;
    background-color: #0C9ABE;
    background-color: #2A3F54;
    */
    border-radius: 5px;
    padding: 6px 12px;
    width: 93px; /*Largura*/
    height: 50px; /*Altura*/
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent; 
    transform: translateY(4px);
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: white;
    text-decoration: none
}
.btn.active,
.btn:active {
    transform: translateY(4px);
    background-image: none;
    outline: 0;
    /*
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
    */
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

/*
#0C9ABE
*/

.btn-success {
    color: #fff;
    background-color: #2196F3;
    /*
    background-color: black;
    background-color: #0C9ABE;
    background-color: #2A3F54;
    */
}
.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #2196F3;
    /*
    background-color: black;
    background-color: #0C9ABE;
    background-color: #2A3F54;
    */
}
.btn-success:hover {
    color: #fff;
    background-color: gray;
}
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #449d44;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open>.dropdown-toggle.btn-success.focus,
.open>.dropdown-toggle.btn-success:focus,
.open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #001a00;
}
.btn-success.active,
.btn-success:active,
.open>.dropdown-toggle.btn-success {
    background-image: none
}
.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
    background-color: gray;
}
.btn-success .badge {
    color: black;
        background-color: #2196F3;
    /*
    background-color: black;
    background-color: #0C9ABE;
    background-color: #2A3F54;
    */
}