/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { 
    background: #ebfafa url("") no-repeat fixed center; 
    position: absolute;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 10;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}



a:link, a:visited {
    background-color: #00004d;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #00001a;
}