/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 */

.container {
    position: relative;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}

img { 
    width: 100%;
    height: auto;
}

body { 
    background-color: #e1e1e1;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    padding-left: 00%;
    height: 100%;
    min-height: 100%;
    
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
    
    
}

.turbolinks-progress-bar {
    height: 2px;
    background-color: #870000;
  }

a:hover, a:active {
    background-color: gray;
}

a:link:active {
  transform: translateY(4px);
}

img{
    width: 50px; /*Largura*/
    height: 80px; /*Altura*/
}


@import "materialize";
@import "material_icons";

i{
  margin-left: 0px !important;
}
