// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.divHelp{
  margin-left: 19%;
  float: left;
}
p, h3{
  float: left;
}
h3{
  margin-left: 19%;
}