// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
  color: black;
  left: 0;
/*  
  position: absolute;
top: 50%;
  font-size: 18px;
*/
  width: 100%;
  text-align: center;
}

#user-widgetGoogle a {
  background-color:#cc0000;
  color: white;
  font-size: 30px;
}

#user-widgetFB a {
  background-color:#3B5998;
  color:white;
  font-size: 30px;
}

#user-widgetGH a {
  background-color: white;
  color: black;
  font-size: 30px;
}

#user-widget a{
  background-color: gray;
  color: black;
  font-size: 30px;
}