table {
    border-collapse: collapse;
    border-collapse: collapse;
    float: center;
    
    /*
    width: 50%;
    left: 31%;
    #center {
  position: relative;
  left: 150px;
  top: 50%;
  width: 83%;
  font-size: 18px;
}
    
    */
}

th, td {
    border: 1px solid darkgray;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even){
  background-color: white;
  
}

th {
    background-color: #012641;
    color: white;
}


h1, notice{
    color: black;
    position: relative;
}



h3{
  color: black;
}



td, th {
  padding: 7px;
  font-size: 18px;
}


h4{
  color: black;
}

a:link, a:visited {
  border-radius: 5px;
  background-color: #022e4e; /* Cor dos Links/Botoes */
}



#cabecalho{
  background-color: #012641;
}

thead td{
  color: white;
}

.quemNaoJogou {
    float: center;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #012641; /* Green */
    border: none;
    color: white;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}