
head{
}

body { 
    background: url("https://http2.mlstatic.com/tecido-verde-mesa-de-sinuca-bilhar-snooker-pano-o-metro-D_NQ_NP_723721-MLB20835125211_072016-O.jpg"); 
    position: relative;
    padding-left: 34%;
}

h1, notice{
    color:white ; /* For Safari 5.1 to 6.0 */;
    position: relative;
    /*background-image: url("https://images.images4us.com/888poker/br/TS-19585-SEO-PokerStrategy_600x338-NewTeaserImage_1448283814836_tcm1530-264504.jpg");*/
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20;
    position:relative;
}

td, th {
color:black;
}


a:link, a:visited {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

a:hover, a:active {
    background-color: #2d2e30;
}

a:link:active {
  background-color: #2d2e30;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}