
head{
}

#user-widget a{
 background-color:#3B5998; 
}


h1, notice{
    color: black;
    position: relative;
    /*padding-left: 10%;*/
    font-size: 40px;
}

h3{
  color: black;
}




table {;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20;
    left: 30%;
    position: relative;
    
}

td, th {
  padding: 7px;
  color: black;
  font-size: 18px;
  /*padding-right: 20px;*/
}


h4{
  color: black;
}

a:link, a:visited {
  background-color: #001f4d;
}