
head{
}

h1, p, notice{
    color:white;
    position: relative;
    background-image: url("tecido-verde.jpg");
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20;
    position:relative;
}

td, th {
  color:black;
}